@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to global CSS file if not using tailwind-scrollbar plugin */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Tailwind's gray-600 */
    border-radius: 4px;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
}
